
@model LoginModel
<h1>Login form</h1>

<form asp-controller="Home" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control" />
        <div>
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <select class="form-control" asp-for="Algorithm">
        <option value="sha256">Sha 256</option>
        <option value="md5">Md5</option>
    </select>
    <button class="btn btn-primary" style="margin-top: 20px;">
        Add
    </button>
</form>

