﻿@model IEnumerable<LoginData>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All login data</h1>
</div>

<div style="margin-bottom: 10px;">
    <a class="btn btn-primary" asp-controller="Home" asp-action="AddLoginData">
        Add
    </a>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <th>Login</th>
        <th>Password</th>
    </thead>
    <tbody>
    @foreach (var loginData in Model)
    {
        <tr>
            <td>@loginData.Login</td>
            <td>@loginData.Password</td>
        </tr>
    }
    </tbody>
</table>